<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>board</title>
    <link rel="stylesheet" href="../public/stylesheets/board.css" />
  </head>
  <body>
    <header class="top-menu con row">
      <div class="cell-right">
        <a href="./login.html">로그인</a>
        <a href="#">회원가입</a>
        <a href="#">글 목록</a>
        <a href="#">글 작성</a>
      </div>
    </header>

    <h1 class="con">시청 소감</h1>
    <section class="article-list table-common con">
      <table border="1">
        <thead>
          <tr>
            <th>No</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < list.length; i++) { %>
          <tr>
            <td><%=list[i].no %></td>
            <td><%=list[i].title %></td>
            <td><%=list[i].username %></td>
            <td><%=list[i].wday %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </section>
  </body>
</html>
