<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>write</title>
    <link rel="stylesheet" href="./stylesheets/boardDetail.css" />
  </head>
  <body>
    <h1 class="con">글 상세정보</h1>
    <section class="article-detail table-common con row">
      <table class="cell" border="1">
        <colgroup>
          <col width="100px" />
        </colgroup>
        <tbody>
          <tr class="article-title">
            <th>제목</th>
            <td>
              <input
                type="text"
                name="title"
                id="title"
                value="<%=list.title%>"
              />
            </td>
          </tr>
          <tr class="article-info">
            <th>작성자</th>
            <td id="writer">
              <!-- <input type="text" name="username" id="username" required /> -->
            </td>
          </tr>
          <tr class="article-body">
            <th>내용</th>
            <td colspan="4">
              <textarea
                name="text"
                id="text"
                cols="50"
                rows="10"
                value="<%=list.text%>"
              ></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <button onclick="window.location = document.referrer">뒤로가기</button>
    <button id="updbtn">수정</button>
    <button id="delbtn">삭제</button>
    <script src="./javascripts/boardDetail.js"></script>
  </body>
</html>
